<div id="icons-container">
  <div id="container">
    <a
      target="_blank"
      href="https://www.linkedin.com/in/juan-esteban-7ba1b5216/"
      ><img class="icon" src="assets/images/linkedin_icon.png" />
    </a>

    <a target="_blank" href="https://www.instagram.com/juan.mona20/">
      <img class="icon" src="assets/images/instagram_icon.png"
    /></a>

    <a
      target="_blank"
      href="https://www.google.com/search?sca_esv=8e8ead8949b91364&sca_upv=1&rlz=1C5CHFA_enCO1019CO1019&sxsrf=ADLYWILF2texBt4OSG52f1x7B2tf5MbZCg:1726975437082&q=whatsapp&udm=2&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWd8nbOJfsBGGB5IQQO6L3J5MIFhvnvU242yFxzEEp3BekApeLFCP-yt1rlLqzmhw_-yjmy56-jU7vCqheuFOLmQRfAB99cxHld5c98wjVFx44OPD2XifQJ3oLvh7U8nPV6v3AtTCu5hoZeWRfyN25Emdpl97-fPb3rtztUklBAoY-k51Hul_gXY5gNHPfdAu3yLD0tw&sa=X&ved=2ahUKEwjl9dnrzNWIAxXVgoQIHUgSA8EQtKgLegQIHRAB&biw=1440&bih=778&dpr=2"
    >
      <img class="icon" src="assets/images/whatsapp_icon.png"
    /></a>

    <img class="icon" src="assets/images/gmail_icon.png" />
  </div>
</div>

<!-- Background video -->
<video autoplay muted loop id="background-video">
  <source src="assets/videos/main-video-test.mp4" type="video/mp4" />
</video>

<!-- Description -->
<div class="content">
  <h1>Copyright C Juan E. Mona</h1>
</div>
