<!DOCTYPE html>
<html lang="en">
  <head>
    <meta />
    <title>Html5-Template</title>
  </head>
  <body>
    <nav>
      <app-basic-toolbar></app-basic-toolbar>
    </nav>
    <h1 style="background-color: red; justify-content: center; display: flex">
      Hello world from component main portfolio
    </h1>
    <header></header>

    <article style="background-color: black; height: 100%">
      <app-programming-projects-carousel></app-programming-projects-carousel>
    </article>
    <footer
      class="wrapper"
      style="
        background-color: cadetblue;
        justify-content: center;
        display: flex;
      "
    >
      copyright C Juan Esteban Mona Bermudez
    </footer>
  </body>
</html>
