<!-- The video -->

<!-- <video autoplay muted loop id="myVideo">
  <source src="/assets/videos/main-video-test.mp4" type="video/mp4" />
  Your browser does not support HTML5 video.
</video> -->
<!-- <video id="background-video" autoplay loop muted>
  <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4" />
</video>
<img src="assets/videos/test-image.png" alt="" srcset="" /> -->

<video width="320" height="240" controls>
  <source src="src/assets/videos/main-video-test.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<!-- Contenido de la página -->
<div class="content">
  <h1>Bienvenido a mi aplicación</h1>
  <p>Este es un ejemplo con un video de fondo.</p>
</div>
