<!-- The video -->

<video autoplay muted loop id="background-video">
  <source src="assets/videos/main-video-test.mp4" type="video/mp4" />
</video>
<div id="images-container">
  <div id="container">
    <img class="icon" src="assets/images/instagram_icon.png" />
    <img class="icon" src="assets/images/gmail_icon.png" />
    <img class="icon" src="assets/images/linkedin_icon.png" />
    <img class="icon" src="assets/images/whatsapp_icon.png" />
  </div>
</div>

<!-- Contenido de la página -->
<div class="content">
  <h1>Copyright C Juan E. Mona</h1>
</div>
